.about {
    background: #000;
  }
  .about .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
  }
  .about .text h6 {
    color: #00bf7f;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .about .text h2 {
    color: #f7f5f4;
    font-weight: 700;
    font-size: 45px;
  }
  .about .text p {
    color: #f7f5f4;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .about .text a {
    color: #fff; /* Set default font color to white */
    background: transparent;
    font-weight: 600;
    padding: 15px 30px;
    border: 2px solid #fff; /* Add border for the button */
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
  }
  .about .text a:hover {
    background-color: #fff;
    color: #00bf85; /* Change text color on hover */
  }
  
  @media screen and (max-width: 988px) {
    /* Adjust responsive styles for the About section */
    .about .text h6 {
      font-size: 14px;
    }
    .about .text h2 {
      font-size: 25px;
    }
    .about .text p {
      font-size: 14px;
      padding: 15px 0;
    }
    /* Additional responsive styles as per the original styles.css */
  }