/* App.css */

/* Define the cursor styles */
.custom-cursor {
    position: fixed;
    top: -10px; /* Adjust as needed */
    left: -10px; /* Adjust as needed */
    pointer-events: none;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Shadow color */
    mix-blend-mode: difference; /* Set blending mode for a better effect */
    z-index: 9999;
    transition: transform 0.1s ease-out;
  }
  
  /* Set the cursor to a pointer for specific elements */
  .pointer {
    cursor: pointer;
  }