/* SingupForm.module.css

:root {
  --green: rgb(33, 250, 131);
  --red: rgb(252, 86, 108);
  --dusky-green: rgb(6, 170, 94);
  --opac-white: rgba(255, 255, 255, 0.8);
  --form-txt: rgba(255, 255, 255, 0.5);
  --darky: #1d2b3a;
  --light-grey: rgb(105, 105, 105);
}

body {
  overflow: hidden;
  background-color: var(--dusky-green);
}

.cardContainer {
  display: grid;
  grid-template-columns: calc(100% - 60%) auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--darky);
}

.formContainer {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  padding: 50px;
  color: var(--form-txt);
}

.formHeader {
  grid-column: 1 / -1;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
}

input {
  display: block;
  border-radius: 4px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 6px 6px 6px 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease-in;
  color: var(--opac-white);
}

input::placeholder {
  content: none;
}

span {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.4s;
}

[type="submit"] {
  border: 0;
  background-color: var(--dusky-green);
  color: white;
  padding: 10px 50px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  outline: none;
}

form {
  width: auto;
  display: grid;
  place-items: center;
}

.btmText {
  margin-top: 15px;
  font-size: 14px;
}

.btmTextHighlighted {
  color: var(--dusky-green);
}

.inputContainer {
  position: relative;
}

span:not(.btmTextHighlighted) {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  pointer-events: none;
}

input:focus ~ span,
input:valid ~ span {
  font-size: 10px;
  transform: translateX(4px) translateY(-7px);
  font-size: 0.8em;
  padding: 0 6px;
  color: var(--cyny-green);
  background-color: var(--dusky-green);
  color: white;
  border-radius: 2px;
}

input:focus,
input:focusvisible {
  border: 1px solid var(--green);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

input:valid {
  border: 1px solid var(--green);
}

.error {
  color: rgb(255, 51, 51);
  font-family: sans-serif;
  font-weight: 500;
  text-transform: none;
  overflow: hidden;
  margin-top: 4px;
}

.imageContainer {
  display: grid;
  place-items: center;
  background-color: var(--dusky-green);
  color: white;
}

.imageContainer > img {
  width: calc(90%);
}

.company,
.imageContainer > .quote {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 19px;
}

.company {
  font-size: 34px;
  text-align: left;
  height: 70px;
  align-self: flex-start;
  padding: 2% 0 0 5%;
}

.outroOverlay > .company {
  position: absolute;
  top: 0;
}

.mobileBtmNav {
  display: none;
}

.mobileBtmNav {
  text-decoration: none;
  display: none;
}

.mobileBtmNav > img {
  transform: scale(0.3) rotateZ(180deg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.outroOverlay {
  display: flex;
  background-color: var(--dusky-green);
  height: 100vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  position: relative;
}

.outroOverlay > #signedUp-illustration {
  height: 90%;
  z-index: 2;
}

.outroOverlay > .shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: 1.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  width: 150%;
}

.outroOverlay > .outroGreeting {
  z-index: 3;
  font-weight: 700;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
}

.disabled {
  display: none;
}

.UpAnimationClass {
  animation: 1.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}

.RightAnimationClass {
  animation: 1.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}

.authorLink {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  z-index: 5;
}

.authorLink,
a {
  text-decoration: none;
  color: var(--light-grey);
  transition: 0.3s ease-out;
}

.authorLink > a:hover {
  color: var(--darky);
}

@media only screen and (max-width: 540px) {
  body {
    width: 100%;
    overflow: visible;
  }

  .imageContainer > [class] {
    transform: scale(1);
  }

  .quote {
    margin-top: -50px;
  }

  .cardContainer {
    grid-template-rows: 100vh minmax(100vh, auto);
    grid-template-columns: none;
    overflow: hidden;
    height: auto;
  }

  .imageContainer {
    width: 100%;
    position: relative;
  }

  .imageContainer > img {
    width: calc(110%);
  }

  .error {
    font-size: 13px;
  }

  .formContainer {
    display: grid;
    place-items: center;
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 20px;
    width: 100%;
    gap: 45px;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
  }

  .mobileBtmNav {
    display: block;
    position: absolute;
    bottom: 0;
    display: block;
    animation: float 1s cubic-bezier(0.59, 0.575, 0.565, 1) infinite;
  }

  .form {
    padding: 50px;
    display: flex;
    align-items: center;
  }

  .outroOverlay {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .outroOverlay > #signedUpllustration {
    height: auto;
    z-index: 2;
  }

  .outroOverlay > .shape {
    display: none;
  }

  .outroOverlay > .outroGreeting {
    font-size: 20px;
    order: 1;
  }
} */
