/* SignUpForm.module.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

:local .back {
  overflow: auto; /* Change this to 'auto' to enable scrolling */
  background-color: rgb(6, 170, 94);
}

:local .cardContainer {
  display: grid;
  grid-template-columns: calc(100% - 60%) auto;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #1d2b3a;
}

:local .formContainer {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  padding: 50px;
  color: rgba(255, 255, 255, 0.5);
}

:local .formHeader {
  grid-column: 1 / -1;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  font-size: 40px;
  color: white;
}

:local input {
  display: block;
  border-radius: 4px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 6px 6px 6px 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s ease-in;
  color: rgba(255, 255, 255, 0.8);
}

:local input::placeholder {
  content: none;
}

:local span {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.4s;
}

.submitBtn {
  border: 0;
  background-color: rgb(6, 170, 94);
  color: white;
  padding: 10px 50px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  outline: none;
}

/* :local [type="submit"] {
  border: 0;
  background-color: rgb(6, 170, 94);
  color: white;
  padding: 10px 50px;
  letter-spacing: 0.05em;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 17px;
  outline: none;
} */

:local form {
  width: auto;
  display: grid;
  place-items: center;
}

:local .btmText {
  margin-top: 15px;
  font-size: 14px;
}

:local .btmTextHighlighted {
  color: rgb(6, 170, 94);
}

:local .inputContainer {
  position: relative;
}

:local .formContainer span:not(.btmTextHighlighted) {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  pointer-events: none;
}

:local input:focus ~ span,
:local input:valid ~ span {
  font-size: 10px;
  transform: translateX(4px) translateY(-7px);
  font-size: 0.8em;
  padding: 0 6px;
  color: var(--cyny-green);
  background-color: rgb(6, 170, 94);
  color: white;
  border-radius: 2px;
}

:local input:focus,
:local input:focus-visible {
  border: 1px solid rgb(33, 250, 131);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}
/* 
:local input:valid {
  border: 1px solid rgb(33, 250, 131);
} */

:local .error {
  color: rgb(255, 51, 51);
  font-family: sans-serif;
  font-weight: 500;
  text-transform: none;
  overflow: hidden;
  margin-top: 4px;
}

:local .imageContainer {
  display: grid;
  place-items: center;
  background-color: rgb(6, 170, 94);
  color: white;
}

:local .imageContainer > img {
  width: calc(90%);
}

:local .company,
:local .imageContainer > .quote {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 19px;
}

:local .company {
  font-size: 34px;
  text-align: left;
  height: 70px;
  align-self: flex-start;
  padding: 2% 0 0 5%;
}

:local .outroOverlay > .company {
  position: absolute;
  top: 0;
}

:local .mobileBtmNav {
  display: none;
}

:local .mobileBtmNav {
  text-decoration: none;
  display: none;
}

:local .mobileBtmNav > img {
  transform: scale(0.3) rotateZ(180deg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

:local .outroOverlay {
  display: flex;
  background-color: rgb(6, 170, 94);
  height: 100vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  position: relative;
}

:local .outroOverlay > #signedUpIllustration {
  height: 90%;
  z-index: 2;
}

:local .outroOverlay > .shape {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: 1.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  width: 150%;
}

:local .outroOverlay > .outroGreeting {
  z-index: 3;
  font-weight: 700;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
}

:local .disabled {
  display: none;
}

:local .UpAnimationClass {
  animation: 1.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}

:local .RightAnimationClass {
  animation: 1.3s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}

:local .authorLink {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  z-index: 5;
}

:local .authorLink,
:local a {
  text-decoration: none;
  color: rgb(105, 105, 105);
  transition: 0.3s ease-out;
}

:local .authorLink > a:hover {
  color: #1d2b3a;
}

@media only screen and (max-width: 540px) {
  :local body {
    width: 100%;
    overflow: visible;
  }

  :local .imageContainer > [class] {
    transform: scale(1);
  }

  :local .quote {
    margin-top: -50px;
  }

  :local .cardContainer {
    grid-template-rows: 100vh minmax(100vh, auto);
    grid-template-columns: none;
    overflow: hidden;
    height: auto;
  }

  :local .imageContainer {
    width: 100%;
    position: relative;
  }

  :local .imageContainer > img {
    width: calc(110%);
  }

  :local .error {
    font-size: 13px;
  }

  :local .formContainer {
    display: grid;
    place-items: center;
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 20px;
    width: 100%;
    gap: 45px;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
  }

  :local .mobileBtmNav {
    display: block;
    position: absolute;
    bottom: 0;
    display: block;
    animation: float 1s cubic-bezier(0.59, 0.575, 0.565, 1) infinite;
  }

  :local .form {
    padding: 50px;
    display: flex;
    align-items: center;
  }

  :local .outroOverlay {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  :local .outroOverlay > #signedUpllustration {
    height: auto;
    z-index: 2;
  }

  :local .outroOverlay > .shape {
    display: none;
  }

  :local .outroOverlay > .outroGreeting {
    font-size: 20px;
    order: 1;
  }
}
