/* Footer.module.css */

/* Footer container styles */
.footer {
    padding: 50px 0;
    background-color: #222; /* Darker background color */
  }
  
  /* Social media icons */
  .socialIcon {
    border-radius: 20px;
    font-size: 20px;
    transition: opacity 0.8s ease-in-out; /* Smooth transition for opacity */
    margin: 0 5px; /* Add some margin between icons */
    color: #fff; /* White color for icons */
  }
  
  /* Hover effect for social icons */
  .socialIcon:hover {
    opacity: 0.9;
  }