/* Importing Google Fonts for Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Resetting default styles for all elements */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

/* Setting the base font size for the document
html {
  font-size: 10px;
} */

/* Styling the body with Poppins font family and full height */
/* body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
} */

/* Styling the main container with flex display */
.loginMain {
  display: flex;
}

/* Styling the left side with flex-grow, background color, and center alignment */
.loginLeft {
  flex-grow: 0.8;
  height: 100vh;
  background-color: #fffdfd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the image inside the left container */
.loginLeftImg {
  width: 600px;
}

/* Styling the right side with flex-grow */
.loginRight {
  height: 100vh;
  flex-grow: 0.8;
}

/* Styling the container inside the right side with width, margin, and flex properties */
.loginRightContainer {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styling the logo container with alignment and padding */
.loginLogo {
  align-self: center;
  padding-top: 50px;
}

/* Styling the logo image */
.loginLogoImg {
  width: 50px;
}

/* Styling the central content with text-align and margin */
.loginCenter {
  margin: auto 0;
  text-align: center;
}

/* Styling the heading inside the central content */
.loginCenter h2 {
  font-size: 3.5rem;
}

/* Styling the paragraph inside the central content */
.loginCenter p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* Styling the form inputs with width, padding, margin, and border properties
form input[type="email"],
form input[type="password"],
form input[type="text"] {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
} */

/* Styling the password input container with position and relative properties */
.passInputDiv {
  position: relative;
}

/* Styling the eye icon inside the password input container */
.passInputDiv svg {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  outline: none;
}

/* Styling the form buttons with width, padding, border, font size, cursor, and border-radius */
form button[type="button"] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
}

/* Styling the options container with flex display and space-between justification */
.loginCenterOptions {
  display: flex;
  justify-content: space-between;
}

/* Styling the remember me container with flex display, alignment, and column gap */
.rememberDiv {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

/* Styling the label inside the remember me container with font properties and cursor */
.rememberDiv label {
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

/* Styling the forgot password link with text-decoration and font size */
.forgotPassLink {
  text-decoration: none;
  font-size: 1.3rem;
}

/* Styling the hover effect for the forgot password link */
.forgotPassLink:hover {
  text-decoration: underline;
}

/* Styling the buttons container with margin */
.loginCenterButtons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* Styling the login button with background color, text color, border, and hover effect */
.loginCenterButtons button:nth-child(1) {
  background-color: black;
  color: white;
  border: 3px solid black;
}

.loginCenterButtons button:nth-child(1):hover {
  color: #333;
  background-color: white;
}

/* Styling the Google login button with background color, flex properties, and hover effect */
.loginCenterButtons button:nth-child(2) {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

/* Styling the Google icon inside the Google login button */
.loginCenterButtons button:nth-child(2) img {
  width: 30px;
}

/* Styling the hover effect for the Google login button */
.loginCenterButtons button:nth-child(2):hover {
  background-color: #c4c4c4;
}

/* Styling the bottom paragraph with text-align, font size, and padding */
.loginBottomP {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 40px;
}

/* Styling the anchor inside the bottom paragraph with text-decoration and font weight */
.loginBottomP a {
  text-decoration: none;
  font-weight: 600;
}

/* Styling the hover effect for the anchor inside the bottom paragraph */
.loginBottomP a:hover {
  text-decoration: underline;
}
